# Actual layer caching is impossible due to .git, but
# that must be included for provenance reasons.  These ignores
# are strictly for hygienic build.
*
!/*.go
!/go.*
!/cmd/*
!/docker/entrypoint.sh
!/docker/entrypoint-rados.sh
!/internal/*
!/helpers/*
!/vaulticdb/
!/vaulticdb/**
/vaulticdb/target/
!/VERSION
!/LICENSE
!/.git/
